.login-container {
    background-image: url('../../assets/space.jpg'); /* Ensure you have a background image */
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  